html {
  font-family: 'Lato', sans-serif;
}

body {
  padding-left: 20px;
}

div {
  font-size: 24px;
}

.project-link {
  color: #3cbcc0;
}

a {
  color: #247072;
  font-weight: bold;
}

a:hover {
  color: #CC7EB3;
}
