/******MAP STYLING******/
#mainmap {
    background: black;
    margin: 0px;
    padding: 0px;
    top: 0px;
    margin-left: 15%;
}

#execution {
  font-size: 14pt;
}


.states {
    stroke: white;
    stroke-width: 0.5px;
}

#play {
  background: grey;
  font-size: 30px;
  color: white;
  width: 150px;
}

#forward {
  background: grey;
  font-size: 30px;
  color: white;
  width: 150px;
}

#clock {
  left: 100px;
  color: grey;
  font-size: 30px;
}


.page-header {
    margin-top: 0px;
    height: 10%;
}

.main-menu {
    position: absolute;
    margin-left: -10%;
    background-color: white;
    width: 190px;
    height: 315px;
}

rect {
  height: 40px;
  width: 40px;
}

text {
  style: bold;
}

.menu-options {
    background-color:  #e1e1e1;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
}



.overlay-menu {
    margin-top: 325px;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    cursor: pointer;
}

.executions {
    float: left;
    background-color: #800000;
    color: grey;
    text-align: center;
    padding: 2%;
}

.title {
    font-family: 'Roboto Slab', sans-serif;
}

/*.menuBox {
    width: 50%;
    float: left;
    padding-bottom: 1%;
    margin-bottom: 100%;
    background: none;
}*/

.yearExpressedText {
    padding-right: 115px;
    font-family: 'Roboto Slab', sans-serif;
    top: 10px;

}

.menu-inset {
    float: right;
    border-style: none;
    border-width: 2px;
    border color: none;
}

.states {
    fill: #808080;
    stroke: #fff;
    stroke-width: 0.5px;
    float:left;
}


.infoLabel {
    position: absolute;
    padding: 10px;
    float:right;
    display:inline-block;
    margin-right:200px;
}

.labelTitle {
   font-family: Candara;
   font-weight:bold;
   font-size:20px;
   line-height:24px;
   background-color: white;
   color:grey;
   width:200px;
   padding:10px;
   margin-top: -600px;
   margin-left:760px;
}

.labelAttribute {
    font-family: Candara;
    font-size:16px;
    font-weight:normal;
    line-height: 20px;
}

.well {
  font-size: 24px;
}
