/* Stylesheet by Ana J. Wells, 2016 */
#map {
    height: 480px;
    width: 80% ;  /*900px;*/
    display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
}

#mySelector {
    position: fixed;
    top: 100px;
    right: 100px;
    width:  100px;
}

#panelContent{
    position: fixed;
    top: 100px;
    right: 200px;
}

.select {
   width: 60px;
   height: 30px;
   background-color: rgba(252,146,114,0.6);
   text-align: center;
   stroke: none;

}

path {
   fill: #000;
   fill-opacity: .2;
   stroke: #fff;
   stroke-width: 1.5px;
}

path:hover {
fill: brown;
fill-opacity: .7;
}


.leaflet-popup-content p {
  /*border: 1px solid gray;*/
  padding: 5px;
	margin: 0.2em 0;
}

.leaflet-bar a {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #444;
  display: block;
  height: 26px;
  width: 26px;
  line-height: 1.45 !important;
  text-align: center;
  text-decoration: none;
  font: bold 18px 'Lucida Console',
  Monaco, monospace; }


.site-control-container  {      /*}, .legend-control-container {*/
    width: 240px;
    height: 50px;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    line-height: 40px;
    text-align: center;
    border: solid gray 1px;
}

 /*.site-control-container {
	width: 180px;
	height: 80px;
	line-height: 45px;
}
*/

.legend-control-container {
	width: 200px;

  line-height: 50px;
}

#temporal-legend {
	font-weight: regular;
	font-size: 1.4em;
}
