/* 575 boilerplate style.css */
#title{
    color: #E6F2DE;
    font-size: 3.5em;
    text-align: center;
    font-family: Lucida, sans-serif;
		width: 100%;
}
body{
  background-color: #134B5F;
}
#mapContainer {
	float: right;
	border: 2px solid black;
	margin: 5px;
	bottom: 0;
    background-color: white

}

#attContainer {
    height: 400px;
    width: 400px;
    border:2px solid #000;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    color:#E6F2DE;
		font-family: "trebuchet ms";

}
#attTitleRect {
    fill: #038090;
}
.attTitle {
    fill: #E6F2DE;
    font-size: 2em;
}

.attSvg {
		background: #134B5F;
}
.attText {
    fill: #E6F2DE;
}

.variableRect {
		stroke: #aaa;
		fill: none;
}

#searchDiv {
		padding-left: 5px;
    padding-top: 5px;
    color:#E6F2DE;

}
.cityContainer {
    height: 205px;
    width: 250px;
    border: 1px solid #ccc;
    overflow-y: scroll;
		position: absolute;
		right: 0;
		bottom: 0;
    margin-right: 5px;
		cursor: move;
    background-color: #134B5F;
    font-family: "trebuchet ms";

}

.checkbox {
		cursor: pointer;
}

#cityTitleRect {
    width: 100%;
    fill: #038090;
}

#cityHeaderRect {
    width: 100%;
    fill: #038090;
}


.cityRect {
    fill:#aaa;
}
#cityTitle {
    fill:#E6F2DE;
}
.headerText {
    fill:#E6F2DE;
}

.attRect1,
.attRect2,
.attRect3 {
	cursor: pointer;
	stroke: black;
	fill:#eee
}


.us_states {
	fill: #fff;
	stroke: #000;
	stroke-width: 0.5px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #E6F2DE;
    background-color: #038090;
    border: solid thin #000;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.attLabel {
    position: absolute;
    /*height: 250px;*/
    min-width: 100px;
    color: #fff;
    background-color: #038090;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
		z-index: 10;
}
.cityList {
    background-color: inherit;
    padding: 5px 10px;
    top: -75px;
		/*z-index: ;*/
		color: #fff;
		border: solid thin #fff;

}

.cityP{
		line-height: 5px;
}


.attLabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

#helpText {
    color: white;
    position: absolute;
}
