/* NYC Private School Vaccination Style Sheet */
/* by Adam Mandelman                          */
/*      (                      )    */
/*      |\    _,--------._    / |   */
/*      | `.,'            `. /  |   */
/*      `  '              ,-'   '   */
/*       \/_         _   (     /    */
/*      (,-.`.    ,',-.`. `__,'     */
/*       |/#\ ),-','#\`= ,'.` |     */
/*       `._/)  -'.\_,'   ) ))|     */
/*       /  (_.)\     .   -'//      */
/*      (  /\____/\    ) )`'\       */
/*       \ |V----V||  ' ,    \      */
/*        |`- -- -'   ,'   \  \     */
/*  __    |         .'    \ \  `._, */
/*    `.__,`---^---'       \ ` -'   */
/*       -.______  \ . /  ______,-  */
/*               `.     ,'          */


.leaflet-popup-content p {
    margin: 0.2em 0;
}

.sequence-control-container-ny {
    width: 100px;
    float: left;
    display: block;
    background-color: rgba(128, 128, 128, 0.6);
	padding: 10px;
	text-align: center;
	border: solid gray 1px;
/*	font-size: 1.2em;*/
/*  font-family: 'Avenir', sans-serif;*/
  border-radius: 5px;
}

/*button styles*/
.btn {
    font-family: Lato, sans-serif;
    font-size: 1em;
    width: 100px;
    display: block;
    float: left;
    margin: 2px 1px;
    border-radius: 4px;
    border-color: rgba(128, 128, 128, 0.7);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.under65 {
    background-color: #c81719;
}

.b65-75 {
    background-color: #f57c24;
}

.b75-85 {
    background-color: #f6c452;
}

.b85-95 {
    background-color: #fbfb7b;
}

.over95 {
    background-color: #01dd80;
}

.all {
    background-color: rgb(185, 185, 185);
}