/* Style Sheet */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    font-family: Lato, sans-serif;
    background-color: white;
}

h1{

}
h2{

}
h3{
    text-align: center;

}
h4{

}
.infolabelMain {
    position:absolute;
    height:90px;
    width: 200px;
    color: #fff;
    background-color: black;
    border: solid thin #fff;
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    pointer-events:none;
}
#header{
    height: 80px;
    padding-top: 2px;
    border-color: #999;
    border-style: solid;
    background-color: #d1d6d8;
    width: 100%;
}


#mainMap {
    background-color: #dfe5e7;
    border: medium solid #999;
/*    position: relative;*/
    display: inline-block;
    width: 100%;
    margin-top: -3px;
    margin-bottom: 10px;
}

#mainMap2 {
    background-color: #dfe5e7;
    border: medium solid #999;
    display: inline-block;
    width: 100%;
    margin-top: -3px;
    margin-bottom: 10px;
}


#mainMap-text{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

#washington-map{
    display:inline-block;
    float: left;
    background-color: #dfe5e7;
    width: 550px;
    height: 450px;
    border: medium solid #999;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}


#washington-text {
    height: 450px;
    min-width: 55%;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.sequence-buttons {
    float: right;
    width: 250px;
    height: 40px;
/*    margin-top: -5px;*/
}

#stepForward {
    background:url(/img/forward.png) no-repeat;
    cursor:pointer;
    width: 45px;
    height: 30px;
    border: none;
}

#stepBackward {
    background:url(/img/reverse.png) no-repeat;
    cursor:pointer;
    width: 45px;
    height: 30px;
    border: none;
}

#yearLabel {
    font-family: Lato, sans-serif;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

/*
#washington-text{
  height: 200px;
	width: 50%;
	border-width: 1px;
	border: medium solid #999;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
	position: absolute;
	transform: translate(0px, 420px);
	font-size: 14px;
  background-color: white;
}
*/

#new-york-map {
    height: 550px;
    width: 650px;
    display: inline-block;
    float: right;
    border-color: #999;
    border-style: solid;
    margin-right: 10px;
/*    margin-bottom: 15px;*/
    margin-bottom: 10px
}

#new-york-text {
    min-width: 50%;
    height: 550px;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}

#california-map {
    width: 45%;
    height: 650px;
    background-color: #dfe5e7;
    display: inline-block;
    float: left;
    border-color: #999;
    border-style: solid;
    margin-left: 10px;
}

#california-text {
    width: 50%;
    height: 630px;
    display: inline-block;
    float: left;
/*
    border-color: #999;
    border-style: solid;
*/
}

#californiaButtons {
    display: block;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.states {
    fill: #000;
    stroke: #fff;
    stroke-width: .6px;
}
