/*#header{
  height: 80px;
  padding-top: 2px;
  background-color: #cdd2d4;
}*/

/*
.map {
    background-color: white;
    border: medium solid #999;
}
*/

/*.states {
  fill: black;
  stroke: white;
  stroke-width: 1px;
  stroke-linecap: round;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}*/
